/* slider.css */
.slider {
    border: 1px solid #ccc; /* Borde gris alrededor del slider */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar contenido desbordante */
    background-color: #fefefe; /* Fondo del slider */
}

.slide {
    padding: 20px; /* Espaciado interno para las lecciones */
    text-align: center; /* Centrar el texto */
}

button.prev, button.next {
    background-color: rgba(243, 156, 18, 0.8); /* Fondo semi-transparente */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cursor tipo puntero */
    position: absolute; /* Posición absoluta */
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar la posición */
    z-index: 1; /* Asegurar que los botones estén encima del contenido */
}

button.prev {
    left: 10px; /* Alinear a la izquierda */
}

button.next {
    right: 10px; /* Alinear a la derecha */
}

button.prev:hover, button.next:hover {
    background-color: #d35400; /* Color más oscuro en hover */
}
